<div class="formulario container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Título</label>
            <input type="text" class="form-control" formControlName="title">
            <p class="text-danger" *ngIf="form.get('title').hasError('required') && form.get('title').touched">
                Escribe un título.
            </p>
        </div>
        <div class="form-group">
            <label>Texto</label>
            <textarea class="form-control" rows="5" formControlName="text"></textarea>
            <p class="text-danger" *ngIf="form.get('text').hasError('required') && form.get('text').touched">
                Escribe un texto para el blog.
            </p>
        </div>
        <div class="form-group">
            <label>Imagen</label>
            <input type="text" class="form-control" formControlName="image">
            <p class="text-danger" *ngIf="form.get('image').hasError('required') && form.get('image').touched"></p>
        </div>
        <div class="form-group">
            <label>Autor</label>
            <input type="text" class="form-control" formControlName="author">
            <p class="text-danger" *ngIf="form.get('author').hasError('required') && form.get('author').touched">
                Escribe el nombre del autor.
            </p>
        </div>

        <div class="form-group">
            <label>Fecha</label>
            <input type="date" class="form-control" formControlName="date">
            <p class="text-danger" *ngIf="form.get('date').hasError('required') && form.get('date').touched">
                Selecciona una fecha.
            </p>
        </div>
        <div class="form-group">
            <label>Categoría</label>
            <select class="form-control" formControlName="category">
                <option value="futbol">Futbol</option>
                <option value="baloncesto">Baloncesto</option>
                <option value="tenis">Tenis</option>
                <option value="videojuegos">Videojuegos</option>
            </select>
            <p class="text-danger" *ngIf="form.get('category').hasError('required') && form.get('category').touched">
                Introduce una categoría.
            </p>
        </div>

        <button type="submit" class="btn btn-success btn-block" [disabled]="!form.valid">Añadir al Blog</button>

    </form>
</div>